{
  "developer_mode": true,
  "server": {
    "port": 9999
  },
  "database": {
    "type" : "mysql",
    "name": "asrchat",
    "host": "localhost",
    "port": 3306,
    "username": "root",
    "password": "123"
  },
  "auth": {
    "jwt_secret_key": "goodkey"
  }
}
